/* Estilos para o corpo da página */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}
.content-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.content-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('foto-note-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%); /* Reduz o brilho da imagem em 50% */
    z-index: -1; /* Garante que o pseudo-elemento esteja atrás do conteúdo */
}

.content-wrapper h1 {
    position: absolute;
    top: 30%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif; /* Tipo da fonte Montserrat */
    font-weight: 400; /* Peso da fonte normal (400) */
    text-align: left; /* Centraliza o texto */
    z-index: 2;
}
.content-wrapper h2 {
    position: absolute;
    top: 42%;
    left: 10px;
    transform: translateY(-50%);
    color: #FF7A00;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif; /* Tipo da fonte Montserrat */
    font-weight: 400; /* Peso da fonte normal (400) */
    text-align: left; /* Centraliza o texto */
    z-index: 2;
}
.content-wrapper h3 {
    position: absolute;
    top: 65%;
    left: 10px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif; /* Tipo da fonte Montserrat */
    font-weight: 400; /* Peso da fonte normal (400) */
    text-align: left; /* Centraliza o texto */
    z-index: 2;
}
.content-wrapper button {
    position: absolute;
    top: 85%;
    left: 10px;
    transform: translateY(-50%);
    padding: 10px 34px; /* Adiciona preenchimento interno */
    background-color: #FF7A00; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Altera o cursor ao passar o mouse */
    transition: all 0.2s ease-in-out;
    font-size: 24px; /* Tamanho da fonte */
    font-weight: 400; /* Peso da fonte normal (400) */
}

/* Estilos quando o cursor passa sobre o botão */
.content-wrapper button:hover {
    background-color: #FF9900; /* Altera a cor de fundo quando o cursor passa sobre o botão */
}
.url-input {
    position: absolute;
    top: 81%; /* Ajusta a posição do input em relação ao botão */
    left: calc(10px + 34px + 148px); /* Posiciona o input ao lado do botão com um espaço de 20px */
    padding: 8px; /* Adiciona preenchimento interno */
    width: 300px; /* Define a largura do input */
    height: 32px; /* Define a altura do input */
    border: 1px solid #ccc; /* Adiciona uma borda */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    background-color: white; /* Cor de fundo do input */
    z-index: 2; /* Garante que o input esteja na frente do background */
    transition: all 0.2s ease-in-out;
}
/* Estilos para o input quando estiver em foco */
.url-input:focus {
    border-color: transparent; /* Define a cor da borda como transparente quando o input está em foco */
    outline: none; /* Remove a borda de foco padrão */
}

/* Estilos para o cabeçalho */
.header-container {
    position: fixed; /* Posição fixa para manter o cabeçalho no topo */
    top: 0; /* Define a distância do topo como 0 */
    left: 0; /* Alinha o cabeçalho à esquerda */
    z-index: 3; /* Certifique-se de que o cabeçalho esteja na frente do background */
    text-align: center; /* Centraliza os cabeçalhos */
    background-image:linear-gradient(to right, #FF7A00, #FF9900); /* Gradiente linear de direita para esquerda */
    color: #fff; /* Cor do texto no cabeçalho */
    padding: 12px; /* Espaçamento interno */
    text-align: left; /* Centraliza o texto */
    width: 1938px; /* Largura do cabeçalho */
    height: 34px; /* Altura do cabeçalho */
    /*left: -8px; /* Posição esquerda */
    width: calc(100% - 10px); /* Largura do cabeçalho, descontando a margem esquerda */
}

.header1, .header2 {
    display: inline-block; /* Faz com que os cabeçalhos fiquem lado a lado */
    width: 110px; /* Largura dos cabeçalhos */
    height: 40px; /* Altura dos cabeçalhos */
    background-color: transparent; /* Cor de fundo transparente */
    color: inherit; /* Herda a cor do texto do cabeçalho-container */
    margin:0 2px 0 0; /* Espaço entre os cabeçalhos */
    font-size: 22px; /* Tamanho da fonte (mude o valor conforme desejado) */
    font-family: 'Montserrat', sans-serif; /* Tipo da fonte Montserrat */
    left: -10px;
}
.header1 {
    /* Estilos para o cabeçalho 1 */
    font-weight: 700; /* Peso da fonte bold (700) */
}

.header2 {
    /* Estilos para o cabeçalho 2 */
    font-weight: 400; /* Peso da fonte normal (400) */
}

/* Estilos para o conteúdo principal */
.main-content {
    max-width: 800px; /* Define a largura máxima do conteúdo */
    margin: 20px auto; /* Centraliza o conteúdo horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo do conteúdo */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}